@import "variables";

.header {
  width: 100%;
  background-color: #5F9EA0	;
  height: 70px;
  position: fixed;
  z-index: 2;
}

.header-container {
  max-width: 1920px;
  padding: 0 25px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-container{
  display: flex;
  align-items: center;
  .navMenu {
  }

  .navMenu a {
    font-family: "Roboto Bold";
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .navMenu a:hover {
    color: #111111;
  }
}
.address{
  font-family: "Roboto Bold";
  color: #FFFFFF;
  font-size: 24px;
}




@media (max-width: 550px) {
  .address{
    font-size: 20px;
  }

}