.specialists {
  width: 100%;
  min-height: 400px;
  background-color: $col-middle;
  position: relative;

  .anchor {
    position: absolute;
    top: -70px;
  }
}

.specialists-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 50px 0;

  .content-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .text-container {
      .title_text {
        text-align: left;
        max-width: 350px;
        line-height: 30px;
        margin-bottom: 10px;
        font-size: 30px;
        text-shadow: none;
      }

      .content_text {
        font-family: sans-serif;
        text-shadow: none;
        font-size: 25px;
        margin-bottom: 10px;
      }
    }
  }

}

.specialists_img {
  img {
    height: 400px;
  }

}


@media (max-width: 740px) {
  .specialists-container {
    .content-container {
      .text-container {
        .title_text {
          text-align: center;
        }

        .content_text {
          text-align: center;
        }
      }

    }
  }

}